<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="imageUrl">
      <ion-img [src]="imageUrl"></ion-img>
    </div>
    <div>
      <div *ngIf="progress> 0">
        <ion-progress-bar
          [buffer]="buffer"
          [value]="progress"
        ></ion-progress-bar>
        <ion-text>{{pluginResult}}</ion-text>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="centered-footer">
      <ion-button (click)="takePhoto()">Take Photo</ion-button>
      <ion-button (click)="startDownload()" color="warning"
        >Download</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
